@use '../abstracts/variables' as variables;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  &-primary {
    font-size: variables.$font-size--xl;
    font-weight: 700;
    color: variables.$font-color--white100;
  }
}