// base 
$font-color--white100: #ffffff;
$font-color--white90: #d4d4d4;
$font-color--white80: #d6d6d6;
$font-color--gray70: #717171;
$font-color--gray40: #c3c3c3;

// background 
$background--dark: #171717;

// accent
$purple: #811ac0;


// font sizing
$font-size--xs: 10px;
$font-size--sm: 16px;
$font-size--md: 18px; 
$font-size--lg: 24px; 
$font-size--xl: 32px; 